section.about 
    .container 
        +blockBox("What we do","Story about us","Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ipsum quibusdam sunt ea incidunt ullam adipisci eligendi voluptatem dolorum nesciunt sed, sit temporibus maiores porro vel aut dolor nostrum possimus!")
        .about-list 
            +blockAbout({
                src: "../images/img-about1.png",
                title: "Loremipsumdolorsitametconsecteturadipisicing elit",
                iconClass: "fa fa-home"
            })
            +blockAbout({
                src: "../images/img-about2.png",
                title: "Loremipsumdolorsitametconsecteturadipisicing elit",
                iconClass: "fa fa-heart"
            })
            +blockAbout({
                src: "../images/img-about3.png",
                title: "Loremipsumdolorsitametconsecteturadipisicing elit",
                iconClass: "fa fa-users"
            })