section.service 
    .container 
        +blockBox("We work with","Amazing Services")
        .service-container
            .service-list 
                +blockService(".././images/service/alarrm.jpg","Lorem ipsum dolor, sit amet consectetur adipisicing elit.","Lorem ipsum dolor, sit amet consectetur adipisicing elit." )
                +blockService(".././images/service/web.jpg","Web Design","Lorem ipsum dolor, sit amet consectetur adipisicing elit." )
                +blockService(".././images/service/computer.jpg","Creativity","Lorem ipsum dolor, sit amet consectetur adipisicing elit." )
            .service-list 
                +blockService(".././images/service/seo.jpg","SEO","Lorem ipsum dolor, sit amet consectetur adipisicing elit." )
                +blockService(".././images/service/html.jpg","HTML/CSS","Lorem ipsum dolor, sit amet consectetur adipisicing elit." )
                +blockService(".././images/service/img.jpg","Digital","Lorem ipsum dolor, sit amet consectetur adipisicing elit." )