section.team 
    .container 
        +blockBox("Who we are", "Meet our team","Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia cumque modi odit ullam? Nemo nihil ex minima sequi eaque ipsam tempore nesciunt, ea quo corporis, aliquid mollitia? Inventore, quidem ab! Lorem ipsum, dolor sit amet consectetur adipisicing elit.") 
        .team-list
            +blockTeam("../images/img-team1.png","Matthew DixMatthew DixMatthew DixMatthew Dix Matthew DixMatthew DixMatthew Dix","Graphic Design")
                +TeamSocial("facebook.com")
            +blockTeam("../images/img-team2.png","Christoper Cambell","Branding/UX Team")
                +TeamSocial()
            +blockTeam("../images/img-team3.png","Michael Fertig","Developer")
                +TeamSocial()
section.brand 
    .container 
        img(src="../images/img-logos.png" alt="brands")

            