section.wedo 
    .container 
        +blockBox("Service","What we do","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste molestiae doloribus amet, ut odio magnam illum corrupti, voluptas voluptates debitis esse hic, cum neque vero natus recusandae sequi adipisci soluta.voluptas voluptates debitis esse hic")
        .wedo-container 
            img(src="../images/img-wedo.png").wedo-image
            .wedo-content 
                //- accordion
                +blockAccordion("../images/img-wedo-icon1.png","PhotographyPhotographyPhotographyPhotographyPhotography PhotographyPhotographyPhotographyPhotography PhotographyPhotographyPhotographyPhotography Photography" ,"fal fa-angle-up","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus minima aliquid sint adipisci ut, molestiae provident voluptatum commodi consectetur? Praesentium, voluptate? Obcaecati, fugit impedit hic fugiat libero earum aliquam aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus minima aliquid sint adipisci ut, molestiae provident voluptatum commodi consectetur? Praesentium, voluptate? Obcaecati, fugit impedit hic fugiat libero earum aliquam aliquid!","is-active")
                +blockAccordion("../images/img-wedo-icon2.png","Creativity" ,"fal fa-angle-down")
                +blockAccordion("../images/img-wedo-icon3.png","Web Design" ,"fal fa-angle-down")
                