section.work 
    .container 
        +blockBox("What we do","Some of our work","Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vel blanditiis cum, voluptatum veritatis est sed autem dolorem fugit tempora numquam error ullam eveniet necessitatibus pariatur? Iste earum nulla nesciunt." )
        .work-grid  
            +blockworkItem("../images/img-work1.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
            +blockworkItem("../images/img-work2.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.") 
            +blockworkItem("../images/img-work3.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
            +blockworkItem("../images/img-work4.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
            +blockworkItem("../images/img-work5.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.","work-item-full") 
            +blockworkItem("../images/img-work6.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
            +blockworkItem("../images/img-work7.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
                
        //- .work-list 
        //-     .work-column 
        //-         +blockworkItem("../images/img-work1.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
        //-         +blockworkItem("../images/img-work2.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
        //-     .work-column 
        //-         +blockworkItem("../images/img-work3.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
        //-         +blockworkItem("../images/img-work4.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
        //-     .work-column
        //-         +blockworkItem("../images/img-work5.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.","work-item-full")
        //-     .work-column 
        //-         +blockworkItem("../images/img-work6.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
        //-         +blockworkItem("../images/img-work7.png","../images/img-work-icon.png","Creativaly Designal","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
                